html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: montreal, sans-serif;
  font-weight: bold;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 20;
}

@font-face {
  font-family: montreal;
  src: url('fontes/NeueMontreal.ttf');
}

#div-titulo {
  margin-left: 20px;
  margin-top: -10px;
}

#titulo {
  font-size: 30px;
  color: black;
  display: block;
  cursor: pointer;
  border-top: 3px solid;
  border-bottom: 3px solid;
  margin-top: 25px;
}

/* MODELOS DE ALTERACAO INICIO*/

/* Tag principal da seção sobre mim */

#info {
  margin-left: 40px;
  margin-right: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

/* div da imagem */
#img {
  border: 1px solid;
  width: 30%;
  height: 50%;
  margin-top: 20px;
  margin-bottom: 60px;
  box-shadow: -12px 12px black;
}

/* div da legenda ao lado da imagem */
#txt {
  width: 60%;
  margin-top: 20px;
  margin-bottom: 60px;
}

#paragrafo {
  border-left: 4px solid;
  text-align: left;
  padding-left: 12px;
}

#icones {
  display: flex;
  justify-content: center;
  width: 25%;
  margin: 30px auto 30px auto;
}

.icons {
  height: 45px;
}

.bgYellow {
  background-color: yellow;
}

a:visited {
  color: inherit;
}

a {
  text-decoration: none;
  transition: color ease 0.2s;
}

#borda-xp {
  border-bottom: 2px solid;
  border-left: 2px solid;
  padding-left: 8px;
}

#borda {
  border-right: 2px solid;
  border-bottom: 2px solid;
  padding: 5px 8px 5px 0;
}

#bgYellowPlus {
  border-top: 2px solid;
  border-right: 2px solid;
  background-color: yellow;
  padding-right: 8px;
  font-size: 33px;
}

#txt-nome {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  font-family: montreal;
}

#sobre {
  text-align: left;
  font-size: 35px;
  font-family: montreal;
  margin-left: 15px;
}

#eu-png {
  display: block;
  width: 100%;
  height: 350px;
  filter: grayscale(100%);
  transition: ease 1s;
}

#eu-png:hover {
  filter: grayscale(0%);
}


/* MODELOS DE ALTERACAO FIM*/

ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  color: black;
  margin-top: 27px;
}

/* Aqui estou dizendo que todo item que
  estiver dentro do elemento pai (ul) que
  não estiver sobre o hover, deve ficar com a cor cinza*/

ul:hover :not(:hover) {
  color: gray;
}

li {
  margin-right: 20px;
  font-size: 19px;
  cursor: pointer;
}

li:hover {
  transform: scale(1.15);
}

main {
  width: 100%;
  height: 545px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

main,
header,
li,
body {
  transition: 0.5s ease;
}

#suptitulo {
  margin-left: 50px;
  font-size: 16px;
  margin-bottom: -70px;
  color: #b2b2b2;
}

#love-txt,
.especial {
  font-size: 80px;
}

#love-txt,
.especial,
#blog-txt,
#suptitulo,
#subtitulo,
#nome,
#txt-nome {
  font-family: montreal, sans-serif;
  text-align: center;
}

#blog-txt {
  font-size: 130px;
  margin-top: -100px;
  margin-left: 55px;
}


#amor {
  color: #E21F14;
}

#subtitulo {
  margin-top: -110px;
  margin-left: 10%;
  font-size: 16px;
  color: #616161;
}

#nome {
  font-size: 17px;
  color: #616161;
}

::-webkit-scrollbar {
  width: 5px;
  background: black;
}

::-webkit-scrollbar-thumb {
  background: #CCCCCC;
  border-radius: 12px;
  margin-top: 50px;
}

@media (max-width: 825px) {


  li {
    margin-right: 18px;
    font-size: 17px;
  }

  #div-titulo {
    margin-left: 15px;
  }

  #titulo {
    font-size: 30px;
  }

  #love-txt,
  .especial {
    font-size: 60px;
  }

  #blog-txt {
    font-size: 95px;
    margin-top: -72px;
    margin-left: 45px;
  }

  #subtitulo {
    margin-top: -80px;
    font-size: 12px;
  }

  #suptitulo {
    margin-left: 22px;
    font-size: 11px;
    margin-bottom: -50px;
  }

  #nome {
    font-size: 12px;
  }

  #div-titulo {
    margin-left: 12px;
  }

}

@media (max-width: 550px) {

  #love-txt,
  .especial {
    font-size: 50px;
  }

  #blog-txt {
    font-size: 70px;
    margin-top: -58px;
    margin-left: 35px;
  }

  #titulo {
    font-size: 26px;
  }

  #subtitulo {
    margin-top: -55px;
    font-size: 10px;
  }

  #suptitulo {
    font-size: 10px;
    margin-right: 6px;
    margin-bottom: -40px;
  }

  #nome {
    font-size: 11px;
  }

  ul {
    margin-top: 25px;
  }

  @media (max-width: 440px) {

    #titulo {
      margin-top: 24px;
    }

    ul {
      margin-top: 28px;
    }

    li {
      font-size: 15px;
      margin-right: 14px;
    }

    #titulo {
      font-size: 24px
    }

    #love-txt,
    .especial {
      font-size: 43px;
    }

    #blog-txt {
      font-size: 58px;
      margin-top: -50px;
      margin-left: 20px;
    }

    #subtitulo {
      margin-top: -35px;
      font-size: 11px;
    }

    #suptitulo {
      font-size: 11px;
      margin-right: 6px;
      margin-bottom: -34px;
    }

    #nome {
      font-size: 12px;
    }

    #info {
      margin-left: 40px;
      margin-right: 40px;
    }

    #sobre {
      font-size: 23px;
      margin-left: 15px;
    }

    #borda-xp {
      border-left: 2px solid;
      padding-left: 5px;
    }

    #bgYellowPlus {
      font-size: 21px;
      padding-right: 4px;
    }

    #img {
      width: 280px;
      margin-bottom: 5px;
    }

    #txt {
      width: 100%;
      margin-top: 20px;
      margin-bottom: 60px;
    }

    #txt-nome {
      font-size: 25px;
    }

    #eu-png {
      width: 280px;
      height: 280px;
    }

  }
}

@media (max-width: 300px) {

  #titulo {
    margin-top: 23px;
  }

  li {
    font-size: 12px;
    margin-right: 8px;
  }

  #titulo {
    font-size: 18px;
  }

  #love-txt,
  .especial {
    font-size: 25px;
  }

  #blog-txt {
    font-size: 35px;
    margin-top: -25px;
    margin-left: 20px;
  }

  #subtitulo {
    margin-top: -25px;
    font-size: 9px;
  }

  #suptitulo {
    font-size: 7px;
    margin-right: 6px;
    margin-bottom: -15px;
  }

  #nome {
    font-size: 8px;
  }

  #img {
    width: 220px;
    margin-bottom: 10px;
  }

  #txt {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 60px;
  }

  #sobre,
  #txt-nome {
    font-size: 22px;
  }

  #eu-png,
  #img {
    width: 220px;
    height: 220px;
  }

}